* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainBackground {
    width: 100%;
    height: 650vh;
    color: blue;
    background: url("../images/main-background.png") no-repeat center/cover;
}

.headerMenu {
    width: 5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.hamburgerMenu {
    width: 40%;
    margin: 50px 0;

    .hamburger {
        width: 100%;
        height: 4px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }
}


.headerFlex {
    display: flex;
}

.headerMenuText {
    width: 400px;
    transform: rotate(270deg);
    margin: 200px 0;
    color: white;
    display: flex;
    flex-direction: row;

    .headerArrow {
        width: 20px;
        height: 20px;
        border-left: 2px solid white;
        border-bottom: 2px solid white;
        transform: rotate(45deg);
        margin-left:50px;
        margin-right:100px;
    }

}

.headerBackground {
    width: 95%;
    height: 100vh;
    background: url("../images/headerBackground.png") no-repeat center/cover;
    .headerBackgroundText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color:white;
        width:40%;
        margin:50px;
        line-height: 30px;
        h2 {
            margin:20px 0;
        }
    }
}

.headerBackgroundFlex {
    width:100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.headerBackgroundDate {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
   color:white;
    
        margin:50px;
        line-height: 30px;
    p{
        
    }
}

.envelope {
    height:5%;
    display:flex;
    justify-content: flex-end;
    margin-right:50px;
    margin-top:50px;
    align-items: baseline;
}
.paintPixtureFlex {
    width:100%;
    height:60%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        
    }
}

/* Section 2 */

.pictureSection {
    margin:50px 0;
    h2 {
        color:white;
        margin: 30px 5%;
    }
}

.photoBox {
   
    width:20%;
    height: 60vh;
    background-color:white;
    
}

.boxPhoto {
    width:100%;
    height: 50%;
    img {
        width:100%;
        height:100%;
    }
}

.photoBoxText{
    h2 {
    color:black;
        }
    span {
        width:60%;
        color:gray;
        margin: 0 5%;
    }
}

.photoBoxFlex {
    display: flex;
    margin:0 5%;
    
}

.leftArrow {
    width:10%;
    height:60vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
    
}

.rightArrow {
    width:10%;
    height:60vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.leftSliderArrow {
    width:25px;
    height:25px;
    border-left:3px solid white;
    border-bottom:3px solid white;
    transform: rotate(45deg);
}

.rightSliderArrow {
    width:25px;
    height:25px;
    border-top:3px solid white;
    border-right:3px solid white;
    transform: rotate(45deg);
}

.photoBox {
    margin: 0 2%;
   
}

.passionBackground {
    width:95%;
    height:100vh;
    background: url(../images/second-background.png);
}



.passionMenuText {
    width: 400px;
    transform: rotate(270deg);
    margin: 100px 0;
    color: white;
    display: flex;
    flex-direction: row;
    

       .headerArrow {
        width: 20px;
        height: 20px;
        border-left: 2px solid white;
        border-bottom: 2px solid white;
        transform: rotate(45deg);
        margin-left:50px;
        margin-right:100px;
    }

}

.passionPixtureFlex {
    width:100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}




