* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainBackground {
  width: 100%;
  height: 100%;
  color: blue;
  background: url(../images/main-background.png) no-repeat center/cover;
}

.headerMenu {
  width: 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hamburgerMenu {
  width: 40%;
  margin: 50px 0;
}

.hamburgerMenu .hamburger {
  width: 100%;
  height: 4px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.headerFlex {
  display: flex;
}

.headerMenuText {
  width: 400px;
  transform: rotate(270deg);
  margin: 200px 0;
  color: white;
  display: flex;
  flex-direction: row;
}

.headerMenuText .headerArrow {
  width: 20px;
  height: 20px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg);
  margin-left: 50px;
  margin-right: 100px;
  position: relative;
  animation: arrowMove 1s infinite;
}

@keyframes arrowMove {
  0% {
    left: 0px;
  }

  25% {
    left: 10px;
  }

  50% {
    left: 0px;
  }

  75% {
    left: 10px;
  }

  100% {
    left: 0px;
  }
}

.headerBackground {
  width: 95%;
  height: 100vh;
  background: url(../images/headerBackground.png) no-repeat center/cover;
}

.headerBackground .headerBackgroundText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 40%;
  margin: 50px;
  line-height: 30px;
}

.headerBackground .headerBackgroundText h2 {
  margin: 20px 0;
}

.headerBackgroundFlex {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.headerBackgroundDate {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  margin: 50px;
  line-height: 30px;
}

.envelope {
  height: 5%;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: 50px;
  align-items: baseline;
}

.paintPixtureFlex {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section 2 */

.pictureSection {
  width: 115%;
  margin: 50px -15%;
}

.pictureSection h2 {
  color: white;
}

.pictureTitle {
  margin: 30px 17.5%;
}

.photoBox {
  width: 105%;
  height: 60vh;
  background-color: white;
  margin: 0 1%;
}

.boxPhoto {
  width: 100%;
  height: 45%;
  position: relative;
  overflow: hidden;
}

.boxPhoto img {
  width: 100%;
  height: 100%;
}

.photoBoxText {
  width: 100%;
  height: 40%;
  background-color: transparent;
  z-index: 0;
  padding: 5%;
}

.photoBoxText h2 {
  margin: 10px 0;
  color: black;
}

.photoBoxText span {
  width: 20%;
  color: gray;
}

.boxPhoto::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: black;
  left: -20px;
  bottom: -20px;
  transform: rotate(45deg);
  opacity: 0.8;
  z-index: 1;
}

.photoBoxFooter {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: #d1d1d3;
}

.photoBoxFlex {
  display: flex;
  margin: 0 5%;
}

.rightArrow {
  width: 12.5%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSliderArrow {
  width: 25px;
  height: 25px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
}

.passionMenu {
  width: 5%;
  height: 100vh;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.passionBackground {
  width: 95%;
  height: 100vh;
  background: url(../images/second-background.png) no-repeat center/cover;
}

.passionMenuText {
  width: 400px;
  transform: rotate(270deg);
  color: white;
  display: flex;
  flex-direction: row;
}

.passionMenuText .headerArrow {
  width: 20px;
  height: 20px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg);
  margin-left: 50px;
  margin-right: 100px;
  position: relative;
  animation: arrowMove 1s infinite;
}

.passionPixtureFlex {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passionText {
  width: 100%;
  line-height: 30px;
  height: 30%;
  display: flex;
  justify-content: space-between;
}

.passionBackgroundText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 40%;
  margin: 50px;
}

.passionBackgroundText h2 {
  margin: 20px 0;
}

.mainTextFlex {
  display: flex;
}

.mainMenuText {
  width: 500px;
  transform: rotate(270deg);
  color: white;
}

.mainFlex {
  width: 100%;
  display: flex;
}

.mainMenu {
  width: 5%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainMenu .mainMenuText {
  width: 200%;
  transform: rotate(270deg);
  margin: 0 25px;
  color: white;
  display: flex;
  flex-direction: row;
}

.mainTextFirst {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 60vh;
  color: white;
  padding: 5%;
  flex-direction: column;
  text-align: justify;
}

.mainTextSecond {
  width: 45%;
  height: 60vh;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 5%;
  text-align: justify;
}

.secondPictureBoxes {
  width: 100%;
  display: flex;
}

.secondPictureMenu {
  width: 5%;
  height: 50vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondPictureMenu .jan {
  width: 200px;
  transform: rotate(270deg);
  color: white;
  display: flex;
  flex-direction: row;
}

.pictureBox {
  width: 95%;
  height: 50vh;
  display: flex;
}

.secondBox {
  width: 25%;
  height: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.secondBox h2 {
  margin-bottom: 10%;
}

.texturesBackground {
  width: 100%;
  height: 80vh;
  background: url(../images/third-background.png) no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.texturesText {
  color: white;
  margin-left: 200px;
}

.texturesText h3 {
  font-size: 2rem;
}

.texturesText h2 {
  font-size: 3rem;
}

.footerBackground {
  width: 100%;
  height: 70vh;
}

.footerContent {
  margin: 5%;
  width: 60%;
  display: flex;
}

.footerContent h4 {
  font-size: 1.5rem;
  margin-bottom: 10%;
}

.footerAbout {
  padding: 5%;
  color: white;
  width: 40%;
}

.footerHistory {
  color: white;
  width: 30%;
  padding: 5%;
}

.footerHistory ul {
  list-style-type: none;
}

.footerHistory ul li {
  margin-bottom: 5%;
}

.footerContact {
  color: white;
  width: 30%;
  padding: 5%;
}

.footerContact ul {
  list-style-type: none;
}

.footerContact ul li {
  margin-bottom: 5%;
}